
<div class="player" *ngIf="winner=='none'; else gameReset">
    <h1>Tic, tac, toe</h1>
    <div class="main">
        <app-ttt-square *ngFor="let val of squares; let i = index" [value]="val" (click)="makeMove(i)">
        </app-ttt-square>
    </div>
</div>

<ng-template #gameReset>
    <div class="player">
        <h1 *ngIf="winner=='X'">YOU WIN</h1>
        <h1 *ngIf="winner=='O'">YOU LOSE</h1>
        <h1 *ngIf="winner=='drow'">DROW</h1>
        <button mat-raised-button color="primary" (click)="newGame()">New game</button>
    </div>
</ng-template>