.main{
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

app-ttt-square{
    border: 1px black solid;
    height: 200px;
    
}

.player{
    height: 90svh;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
